<form action="<%=session_url%>" method="POST">
    <label>Username:
        <input type="text" name="user[user_name]">
    </label>

    <label>Password:
        <input type="password" name="user[password]" value="">
    </label>
    
    <button>Login</button>
</form>